<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.don2.shopintelli">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_donexp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_donexp_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyFood">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5890212856743526~6582815528"/>
        <activity
            android:name="com.don2.shopintelli.ClientInfoActivity"
            android:exported="true" />
        <activity
            android:name="com.don2.shopintelli.RegisterProductActivity"
            android:exported="true" />
        <activity
            android:name="com.don2.shopintelli.RegisterCamisetaActivity"
            android:exported="true" />
        <activity
            android:name="com.don2.shopintelli.RegisterCalcaActivity"
            android:exported="true" />
        <activity
            android:name="com.don2.shopintelli.CategoryProductsActivity"
            android:exported="true" />
        <activity
            android:name="com.don2.shopintelli.CategoryProductsOrdersActivity"
            android:exported="true" />
        <activity
            android:name="com.don2.shopintelli.CategoryOrdersActivity"
            android:exported="true" />
        <activity
            android:name="com.don2.shopintelli.CategoryProductsToListProductsActivity"
            android:exported="true" />
        <activity
            android:name="com.don2.shopintelli.ClientOrderActivity"
            android:exported="true" />
        <activity
            android:name="com.don2.shopintelli.RegisterProductOrderActivity"
            android:exported="true" />
        <activity
            android:name="com.don2.shopintelli.ListItemByProductsOrdersActivity"
            android:exported="true" />
        <activity
            android:name="com.don2.shopintelli.RegisterCamisetaOrderActivity"
            android:exported="true" />
        <activity
            android:name="com.don2.shopintelli.UpdateClientActivity"
            android:exported="true" />
        <activity
            android:name="com.don2.shopintelli.CadastroClientActivity"
            android:exported="true"
            android:parentActivityName="com.don2.shopintelli.PrincipalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.don2.shopintelli.PrincipalActivity" />
        </activity>
        <activity
            android:name="com.don2.shopintelli.PrincipalActivity"
            android:exported="true" />
        <activity
            android:name="com.don2.shopintelli.DashboardActivity"
            android:exported="true"
            android:label="Dashboard"
            android:theme="@style/DashboardStyle" />
        <activity
            android:name="com.don2.shopintelli.SignInActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.don2.shopintelli.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>